<ion-card>
  <div class="backdrop">
    <div class="background-one"></div>
    <div class="half-ellipse"></div>
    <div class="background-two"></div>
    <div class="background-three"></div>
  </div>
  <ion-card-header class="ion-text-center">
    <ion-avatar>
      <img src="../../../../assets/images/dog.jpg" />
    </ion-avatar>
    <ion-card-title class="ion-margin-top">Has</ion-card-title>
    <ion-card-subtitle>Front-End Developer</ion-card-subtitle>
  </ion-card-header>

  <div class="item-divider"></div>
  <ion-card-content>
    <div>
      <span>Who's viewed your profile</span>
      <ion-text color="primary">467</ion-text>
    </div>
    <div class="connections">
      <span>Connections</span>
      <ion-text color="primary">678</ion-text>
    </div>
    <ion-card-subtitle color="dark">Manage your network</ion-card-subtitle>
  </ion-card-content>

  <div class="item-divider"></div>
  <ion-card-content>
    <ion-card-subtitle color="dark"> <ion-icon name="bookmark"></ion-icon> My items</ion-card-subtitle>
  </ion-card-content>
</ion-card>

<ion-card>
  <div class="more">
    <ion-card-content>
      <ion-card-subtitle color="primary">Groups</ion-card-subtitle>
      <ion-card-subtitle color="primary">Events</ion-card-subtitle>
      <ion-card-subtitle color="primary">Follow Hashtags</ion-card-subtitle>
    </ion-card-content>
    <div style="display: flex; align-items: center;">
      <ion-button class="add ion-no-padding" fill="secondary">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </div>
  </div>
  <div class="item-divider"></div>
  <ion-card-content>
    <ion-card-subtitle class="ion-text-center">Discover more</ion-card-subtitle>
  </ion-card-content>
</ion-card>
